<h1>Home Page</h1>
<h3>¡Bienvenido!</h3>
<ng-container *ngIf="contactoSeleccionado; else elseAmigoInvisible">
      <h4>Amigo invisible: {{contactoSeleccionado | nombreCompleto}}</h4>
      
</ng-container>
<ng-template #elseAmigoInvisible>
      <div>
            <p>Selecciona a tu amigo invisible</p>
      </div>
</ng-template>

<div>
      <p>Filtros:</p>
      <a routerLink="contacts" [queryParams]="{sexo:'female'}">Amigas | </a>
      <a routerLink="contacts" [queryParams]="{sexo:'male'}"> Amigos</a>
</div>

<button mat-raised-button color="primary" (click)="handleNavContacts()" >Ver tus contactos</button>