<h1>Tus Contactos: </h1>

<ng-container *ngIf="cargando; else elseTemplate">
      <mat-spinner></mat-spinner>
      <h5>Cargando...</h5>
</ng-container>
<ng-template #elseTemplate>

      <div *ngFor="let contact of listaContactos; let i=index" >
            <div routerLink="{{contact.id.name}}" [state]="{contact, filtro: filtroSexo}"> <!-- tambien se puede enviar el state directamente -->
                  <h6 class="contacto">{{contact | nombreCompleto}} </h6>
                  <button mat-raised-button color="primary" (click)="seleccionar(contact)">Seleccionar como amigo invisible</button>            
            </div>
      </div>
      
      
      <ng-container *ngIf="filtroSexo == 'female' || filtroSexo == 'male'; else filtradoSexo">
            <p>Mostrando filtro: <b>{{filtroSexo}}</b></p>
      </ng-container>
      <ng-template #filtradoSexo>
            <p>Mostrando todos los contactos</p>
      </ng-template>
      
      <a routerLink="/dashboard" >Volver</a>
            
</ng-template>

