<div class="container">
  <h2>Pendientes</h2>

  <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="tasksIncomplete"
      [cdkDropListConnectedTo]="doneList" class="list" (cdkDropListDropped)="drop($event)">
      <ng-container *ngIf="tasksIncomplete.length === 0">
        <h4 class="completado">¡Excelente! No tienes Tareas Pendientes</h4>
      </ng-container>
      
    <div class="list-item" *ngFor="let task of tasksIncomplete" cdkDrag>  
      <app-task [task]="task"></app-task>
    </div>
  </div>
</div>

<div class="container">
  <h2>Completados</h2>

  <div  cdkDropList #doneList="cdkDropList" [cdkDropListData]="tasksComplete"
      [cdkDropListConnectedTo]="todoList" class="list" (cdkDropListDropped)="drop($event)">
      <ng-container *ngIf="tasksComplete.length === 0">
        <h4 class="incompleto">¡Tienes Tareas Pendientes!</h4>
      </ng-container>
    <div class="list-item" [ngClass]="{'completed-task':task.completed}" *ngFor="let task of tasksComplete" cdkDrag>
     <app-task [task]="task"></app-task>
    </div>
  </div>
</div>
